<div class="header">
    <h1>Weather Now</h1>
    <span class="date"></span>
    <div class="burger-menu">
        <a href="#" class="burger-menu__button">
            <span class="burger-menu__lines"></span>
        </a>
        <nav class="burger-menu__nav">
            <a id="index" class="menu" href="./index.html">Home</a>
            <a id="forecast" class="menu" href="./forecast.html">Forecast</a>
            <a id="list" class="menu" href="./list.html">List</a>
            <a id="about" class="menu" href="./about.html">About</a>
        </nav>
        <div class="burger-menu__overlay"></div>
    </div>

</div>