<div class="header">
    <h1>Weather Now</h1>
    <span class="date"></span>
    <ul class="list">
        <li id="index" class="menu">
            <a href="./index.html">Home</a>
        </li>
        <li id="list" class="menu">
            <a href="./list.html">Cities</a>
        </li>
        <li id="about" class="menu">
            <a href="./about.html">About</a>
        </li>

    </ul>
</div>