* { margin: 0;
    padding: 0;
    box-sizing: border-box; }

    html,body{
        height: 100%;
        width: 100%;
    }

.header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        padding: 15px 30px 15px 15px;
        background-color: rgb(255, 235, 205);
        font-size: 15px;
        z-index: 55;
        width: 100vw;
        height: 75px;

        .burger-menu__button{
            position: fixed;
            top: 10px;
            right: 10px;
            z-index: 60;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: orange;
            &:hover{
                .burger-menu__lines{
                    filter: brightness(0.7);
                }

            }
        }

        .burger-menu__active{
            .burger-menu__lines{
                background-color: transparent;
            }
            .burger-menu__lines::before{
                top: 0;
                transform: rotate(45deg);
            }
            .burger-menu__lines::after{
                top: 0;
                transform: rotate(-45deg);
            }

            .burger-menu__nav{
                right:2%;
            }
            .burger-menu__overlay {
                display: block;
            }
        }

        .burger-menu__lines,
        .burger-menu__lines::after,
        .burger-menu__lines::before{
          position: absolute;
          width: 25px;
          height: 5px;
          background-color: white;
        }

        .burger-menu__lines{
            top:50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        .burger-menu__lines::before{
            content: '';
            top: -8px;
        }
        .burger-menu__lines::after{
            content: '';
            top: 8px;
        }

        .burger-menu__nav{
            padding: 50px 40px;
            position:fixed;
            font-weight: bold;
            font-size: 20px;
            z-index:20;
            display: flex;
            flex-flow: column;
            justify-content: space-around;
            height: 50vh;
            background-color: rgb(255, 235, 205);
            overflow-y: auto;
            right:-100%;
            border-bottom-left-radius: 35%;
            border-bottom-right-radius: 35%;
            .menu{
                text-decoration: none;
                &:link{color:black}
                &:visited{color: black;}
            }
        }


        .date{
            z-index: 21;
            font-size: 18px;
        }

    .active{
        border: 1px;
        border-radius: 45%;
        padding: 0.5vw;
        background-color: coral;
    }
}

    .burger-menu__overlay{
        display: none;
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 10;
    }

    .main-about{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 65px;
       
        .picture{
            width: 100vw;
            height: 100vh;
        }
    }

    .main-forecast{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 65px;
        height: 100%;
        background-image: url("../images/img.jpg");
        background-repeat: no-repeat;
        background-size: cover;
           .container-forecast{
            display: flex;
            flex-flow: wrap;
            justify-content: space-around;
            max-height: 100%;
            width: 100%;
            
        .weather-container{
            border: black 1px solid;
            border-radius: 20%;
            background-color: rgba(255, 235, 205, 0.74);
            font-size: 18px;
            color:black;    
             padding: 10px;
             position: relative;
             top:40px;
             
             z-index: 5;
             .about-weather{
                 display: flex;
                 flex-flow: column;
                 justify-content: space-around;
                 padding: 10px;
                 text-transform: capitalize;
             }
            }
        }
    }


 .main-list{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 65px;
    height: 100%;
    background-image: url("../images/img.jpg");
    background-repeat: no-repeat;
    background-size: cover;

            .container-list{
               display: flex;
            flex-flow: wrap;
            justify-content: space-around;
            max-height: 100%;
            width: 100%;
                
            .weather-container{
                border: black 1px solid;
                border-radius: 20%;
                background-color: rgba(255, 235, 205, 0.74);
                font-size: 18px;
                color:black;    
                 padding: 10px;
                 position: relative;
                 top:20px;
                 z-index: 5;
                 .about-weather{
                     display: flex;
                     flex-flow: column;
                     justify-content: space-around;
                     padding: 10px;
                     text-transform: capitalize;
                 }
                }
            }
            
        }

   .main{
    display: flex;
    flex-flow: column;
        justify-content: center;
        align-items: center;
        position: relative;
        top: 65px;
       
        .picture{
            width: 100vw;
            height: 100vh;
        }
        .dropdown{ width: 200px;
            position: absolute;
            top:5%;
            left:10%;
        z-index: 2;}
.weather-info{
            visibility: hidden;
            position: absolute;
            z-index: 19;
            top:25%;
            left: 40%;
            border: black 1px solid;
            border-radius: 20%;
            padding: 2%;
            background-color: rgba(255, 235, 205, 0.74);
            font-size: 18px;
            color:black;    
        }
       
    }