* { margin: 0;
    padding: 0;
    box-sizing: border-box; }

    .header{
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
        background-color: rgb(255, 235, 205);
        font-size: 20px;
        .date{
            font-size: 18px;
        }
    }

    .main{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        position: relative;
        .picture{
            width: 100vw;
            height: 94.5vh;
        }
        .dropdown{ width: 200px;
            position: absolute;
            top:5%;
            left:10%;
        z-index: 2;}
        .weather-info{
            visibility: hidden;
            position: absolute;
            z-index: 1;
            top:25%;
            left: 40%;
            border: black 1px solid;
            border-radius: 20%;
            padding: 2%;
            background-color: rgba(255, 235, 205, 0.74);
            font-size: 18px;
            color:black;    
        }
       
    }